
<html>
    <head>
        <title>Onthe paths of lynx</title>
    </head>
    <body>
        <h2> checking<h2>
        <H1>ON THE PATHS OF LYNX</H1>
        <p>szukając lisa </p>
        <div>
            <h2>Bangkok</h2>
        <a href="https://www.facebook.com/photo.php?fbid=959431747429165&set=a.146267338745614.21779.100000870464505&type=3&theater">więcej info tutaj</a>
        {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
{% endfor %}

        <img src="https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/11781807_959431747429165_5619774471796090434_n.jpg?oh=f111011ec37d9c8227a90f9057bf4716&oe=56E8E8C5"/>
        	<H2>ISLANDIA</H2>

        
    </body>
</html>